* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	font-family: 'Roboto Slab', serif;
}

body {
	background: #F2F2F2;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding-bottom: 120px;
}

/* ----- ----- HEADER ----- ----- */
header {
	width: 100%;
	text-align: center;
	padding: 60px 0;
}

header h1 {
	font-weight: normal;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}

header h2 {
	font-weight: 300;
	font-size: 24px;
	line-height: 24px;
	color: #919191;
}

/* ----- ----- MAIN ----- ----- */
main {
	width: 100%;
}

main nav {
	width: 100%;
	display: flex;
	margin-bottom: 60px;
}

main nav .btn-menu {
	display: inline-block;
	width: 65px;
	height: 65px;
	border: 1px solid #000;
	background: transparent;
	cursor: pointer;
	font-size: 28px;
	margin-right: 20px;
	transition: .3s ease all;
}

main nav .btn-menu:hover {
	border:1px solid #828282;
	color: #828282;
}

main nav .banner {
	display: inline-block;
	width: 100%;
	background: url(../img/banner.jpg);
	background-size: cover;
	text-align: center;
	height: 65px;
	line-height: 65px;
	font-size: 26px;
	font-weight: 300;
	color: #fff;
}

main .productos {
	display: flex;
	justify-content: space-between;
}

main .productos figure {
	max-width: 320px;	
	box-shadow:0px 3px 6px rgba(0,0,0,.16);
}

main .productos img {
	vertical-align: top;
	width: 100%;
}

main .productos figure figcaption a {
	background: #000;
	display: inline-block;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #fff;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	font-weight: 300;
}

/* ------------------------- */
/* Pushbars: Estilos Generales */
/* ------------------------- */


/* ----- ----- Pushbar: Menu de Navegacion ----- ----- */

/* ----- ----- Pushbar: Carrito de Compras ----- ----- */

/* ----- ----- Pushbar: Productos ----- ----- */

/* ----- ----- Pushbar: Formulario Newsletter  ----- ----- */

/* ------------------------- */
/* MEDIA QUERIES */
/* ------------------------- */
@media screen and (max-width: 600px) {
	header h1 {
		font-size: 30px;
		line-height: 30px;
	}

	header h2 {
		font-size: 16px;
		line-height: 16px;
	}

	main nav .banner {
		font-size: 14px;
	}

	main .productos {
		flex-direction: column;
		align-items: center;
	}

	main .productos figure {
		margin-bottom: 40px;
	}
}